* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
}

body .container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

body a {
  text-decoration: none;
  color: #FFF;
}

.paragraphy {
  padding-bottom: 40px;
  font-size: 18px;
  color: #4d4d4d;
  text-align: center;
}

.title {
  padding-bottom: 40px;
  font-size: 35px;
  text-align: center;
}

.btn-primary, .btn-simple {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background: #00ff38;
  color: #FFF;
  margin: 0 20px 10px 0;
}

.btn-simple {
  background: #FFF;
  color: #000;
}

header {
  background: #FFF;
  color: #000;
}

header .mobile-menu {
  height: 15px;
}

header .mobile-menu .logo {
  font-size: 22px;
  float: left;
}

header .mobile-menu a {
  float: right;
  font-size: 25px;
  color: #000;
}

header .navbar {
  clear: both;
  text-align: center;
  display: none;
}

header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .navbar ul li {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #4d4d4d;
}

header .navbar ul li a {
  padding: 10px 0;
}

header .navbar ul li a:hover {
  background: #4d4d4d;
}

main {
  clear: both;
}

main .hero {
  padding: 40px 0;
  min-height: 400px;
  color: #FFF;
  background: linear-gradient(135deg, #5505ff 0%, #0026ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

main .hero h1 {
  padding-bottom: 20px;
  font-size: 4rem;
}

main .hero p {
  padding-bottom: 40px;
  font-size: 20px;
  margin: 0;
}

main .web-tools .flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .web-tools .flexbox div {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  -moz-box-shadow: 0 0 3px 2px #eee;
  -webkit-box-shadow: 0 0 3px 2px #eee;
  box-shadow: 0 0 3px 2px #eee;
}

main .web-tools .flexbox img {
  width: 50px;
  height: auto;
}

main .quote {
  background: #f4f5f6;
}

main .quote .paragraphy {
  padding-bottom: 10px;
}

main .quote .auther {
  float: right;
}

main .projects .gridbox > div {
  height: 227px;
  width: 100%;
  background-image: url("../img/gridbox-element-background-testing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFF;
  position: relative;
  margin-bottom: 20px;
}

main .projects .gridbox > div .discription {
  height: 100px;
  width: 100%;
  background-image: url("../img/index.png");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
}

main .projects .gridbox > div .discription h2 {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 21px;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

main .projects .gridbox > div .discription p {
  font-size: 14px;
  margin-left: 20px;
}

main .social-media {
  background: #f4f5f6;
}

main .social-media ul {
  text-align: center;
}

main .social-media li {
  display: inline-block;
  font-size: 40px;
  margin: 0 20px;
}

main .social-media .fa-linkedin-in {
  color: #017cb7;
}

main .social-media .fa-twitter {
  color: #00b1f4;
}

main .social-media .fa-github {
  color: #000;
}
