$colors: (
  primary: #FFF,
  secondary: #000,
  secondary-lighter: lighten(#000, 30%),
  background-darker: #f4f5f6,
  btn-primary: #00ff38
);
$fonts: (
  primary: "Fira Sans",
  secondary: "Rubik"
);
@function font($font-name) {
  @return map-get($fonts, $font-name);
}
@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin shadow($horizontal, $vertical, $blur, $intesity, $Color) {
  -moz-box-shadow: $horizontal $vertical $blur $intesity $Color;
  -webkit-box-shadow: $horizontal $vertical $blur $intesity $Color;
  box-shadow: $horizontal $vertical $blur $intesity $Color;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: font(primary), sans-serif;

  .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }

  a {
    text-decoration: none;
    color: color(primary);
  }
}
// Generic Styling

.paragraphy {
  padding-bottom: 40px;
  font-size: 18px;
  color: color(secondary-lighter);
  text-align: center;
}

.title {
  padding-bottom: 40px;
  font-size: 35px;
  text-align: center;
}
// Button Styling

%btn-shared {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  @extend %btn-shared;
  background: color(btn-primary);
  color: color(primary);
  margin: 0 20px 10px 0;
}

.btn-simple {
  @extend %btn-shared;
  background: color(primary);
  color: color(secondary);
}
// Header Section Styling

header {
  background: color(primary);
  color: color(secondary);

  .mobile-menu {
    height: 15px;

    .logo {
      font-size: 22px;
      float: left;
    }

    a {
      float: right;
      font-size: 25px;
      color: color(secondary);
    }
  }

  .navbar {
    clear: both;
    text-align: center;
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid color(secondary-lighter);

        a {
          padding: 10px 0;
        }

        a:hover {
          background: color(secondary-lighter);
        }
      }
    }
  }
}

main {
  clear: both;

  .hero {
    padding: 40px 0;
    min-height: 400px;
    color: color(primary);
    background: linear-gradient(135deg, #5505ff 0%,#0026ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    h1 {
      padding-bottom: 20px;
      font-size: 4rem;
    }

    p {
      padding-bottom: 40px;
      font-size: 20px;
      margin: 0;
    }
  }

  .web-tools {
    .flexbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .flexbox div {
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      @include shadow(0, 0, 3px, 2px, #eee);
    }

    .flexbox img {
      width: 50px;
      height: auto;
    }
  }

  .quote {
    background: color(background-darker);

    .paragraphy {
      padding-bottom: 10px;
    }

    .auther {
      float: right;
    }
  }

  .projects {
    .gridbox > div {
      height: 227px;
      width: 100%;
      background-image: url("../img/gridbox-element-background-testing.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: color(primary);
      position: relative;
      margin-bottom: 20px;

      .discription {
        height: 100px;
        width: 100%;
        background-image: url("../img/index.png");
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
        padding-top: 30px;

        h2 {
          font-family: font(secondary);
          font-weight: 400;
          font-size: 21px;
          margin-left: 20px;
          margin-top: 20px;
          padding-bottom: 10px;
        }

        p {
          font-size: 14px;
          margin-left: 20px;
        }
      }
    }
  }

  .social-media {
    background: color(background-darker);

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      font-size: 40px;
      margin: 0 20px;
    }

    .fa-linkedin-in {
      color: #017cb7;
    }

    .fa-twitter {
      color: #00b1f4;
    }

    .fa-github {
      color: #000;
    }
  }
}
