// Main Sass file (First-line comment)
@import "mixins";
@import "variables";
@import "reset";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: font(primary), sans-serif;

  .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }

  a {
    text-decoration: none;
    color: color(primary);
  }
}
// Generic Styling

.paragraphy {
  padding-bottom: 40px;
  font-size: 16px;
  color: color(secondary-lighter);
  text-align: center;
  line-height: 170%;
}

.title {
  padding: 40px 0 15px;
  font-size: 35px;
  text-align: center;
  color: color(secondary);
}
// Button Styling

%btn-shared {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.btn-primary {
  @extend %btn-shared;
  background: color(primary);
  color: color(secondary);
  margin: 0 20px 10px 0;
}

.btn-simple {
  @extend %btn-shared;
  background: none;
  border: 1px solid #fff;
  color: color(primary);
}
// Header Section Styling

header {
  background-color: color(primary);
  color: color(secondary);
  height: 50px;

  .container {
    padding: 10px 0 0;
  }

  .mobile-menu {
    height: auto;

    h1 {
      font-size: 22px;
      float: left;
    }

    a {
      float: right;
      font-size: 25px;
      color: color(secondary);
    }
  }

  .navbar {
    clear: both;
    text-align: center;
    display: none;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 10px 0;
  }
}

.hero {
  padding-bottom: 40px;
  min-height: 400px;
  @include background("../img/ocean.jpeg", center, primary, cover);

  h1 {
    padding-bottom: 20px;
    font-size: 4rem;
  }

  p {
    padding-bottom: 40px;
    font-size: 20px;
  }
}

.web-tools {
  .flexbox {
    text-align: center;

    div {
      display: inline-block;
      margin: 20px 0;
    }

    img {
      width: 70px;
      height: auto;
      padding-bottom: 10px;
    }

    h3 {
      color: color(secondary);
    }

    p {
      padding: 15px 0 0;
    }
  }
}

.skills {
  padding: 40px 0;

  h1 {
    color: color(primary);

  }

  p {
    padding-bottom: 0px;
  }

  div {
    width: 50%;
    height: 600px;
    float: left;
  }

  .side-img {
    @include background("../img/background-side-img.jpg", center, primary, cover);
    width: 50%;
  }

  .skills-info {
    background-color: black;
    margin: auto;

    .container {
      float: none;
      text-align: center;
      width: 80%;
      }

      .skill-bar {
        width: 100%;
        background-color: color(secondary-lighter);
        height: 3px;

        div {
          width: 70%;
          background-color: color(primary);
          height: 100%;
        }
      }

      .skill-title {
        float: left;
        color: color(primary);
        font-weight: 400;
        margin: 10% 0 1% 0;
      }
    }
  }

.projects {

  .gridbox > div {
    height: 227px;
    @include background("../img/gridbox-element-background-testing.png", center, primary, cover);
    position: relative;
    margin-bottom: 20px;
    font-family: font(secondary);

    .discription {
      height: 100px;
      width: 100%;
      background-image: url("../img/index.png");
      background-repeat: repeat-x;
      position: absolute;
      bottom: 0;
      padding-top: 30px;

      h2 {
        font-weight: 400;
        font-size: 21px;
        margin-left: 20px;
        margin-top: 30px;
        padding-bottom: 5px;
      }

      p {
        font-size: 14px;
        margin-left: 20px;
      }
    }
  }
}

.social-media {
  background: color(background-darker);

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px;
  }

  .fa-linkedin-in {
    color: #017cb7;
  }

  .fa-twitter {
    color: #00b1f4;
  }

  .fa-github {
    color: #000;
  }
}
// Desktop Setting
@media only screen and (min-width: 768px) {
  header {
    background: transparent;

    .mobile-menu {
      display: none;
    }

    .navbar {
      clear: both;
      display: block;
      text-align: center;
      padding-top: 5px;
      float: right;

      li {
        display: inline;
        margin: 0 30px;

        a {
          color: color(primary);
        }

        a:hover {
          color: transparentize(color(primary), 0.5);
          transition: 0.3s;
        }
      }
    }
  }

  .hero {
    min-height: 100vh;
    @include background("../img/ocean.jpeg", center, primary, cover);

    h1 {
      margin-top: 20vh;
      font-size: 100px;
    }

    p {
      width: 60%;
    }
  }

  .web-tools {
    .flexbox {
      display: flex;
      text-align: left;
      flex-flow: row;

      div {
        flex: 1;
      }

      p {
        text-align: left;
      }
    }
  }
}
