$colors: (
  primary: #FFF,
  secondary: #000,
  secondary-lighter: lighten(#000, 30%),
  btn-primary: #00ff38
);
$fonts: (
  primary: "Fira Sans",
  secondary: "Rubik"
);
@function font($font-name) {
  @return map-get($fonts, $font-name);
}
@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin shadow($horizontal, $vertical, $blur, $intesity, $Color) {
  -moz-box-shadow: $horizontal $vertical $blur $intesity $Color;
  -webkit-box-shadow: $horizontal $vertical $blur $intesity $Color;
  box-shadow: $horizontal $vertical $blur $intesity $Color;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: font(primary), sans-serif;

  .container {
    width: 90%;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: color(primary);
  }
}
// Generic Styling

.paragraphy {
  padding-bottom: 40px;
  font-size: 18px;
  color: color(secondary-lighter);
}

.title {
  padding-bottom: 40px;
  font-size: 35px;
}
// Button Styling

%btn-shared {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  @extend %btn-shared;
  background: color(btn-primary);
  color: color(primary);
  margin: 0 20px 10px 0;
}

.btn-simple {
  @extend %btn-shared;
  background: color(primary);
  color: color(secondary);
}
// Header Section Styling

header {
  background: color(primary);
  color: color(secondary);

  .mobile-menu {
    height: 50px;
    padding: 30px 0 0;

    .logo {
      font-size: 22px;
      float: left;
    }

    a {
      float: right;
      font-size: 25px;
      color: color(secondary);
    }
  }

  .navbar {
    clear: both;
    text-align: center;
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid color(secondary-lighter);

        a {
          padding: 10px 0;
        }

        a:hover {
          background: color(secondary-lighter);
        }
      }
    }
  }
}

main {
  clear: both;

  .hero {
    padding: 40px 0;
    min-height: 400px;
    color: color(primary);
    background: linear-gradient(135deg, #5505ff 0%,#0026ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    h1 {
      padding-bottom: 20px;
      font-size: 4rem;
    }

    p {
      padding-bottom: 40px;
      font-size: 20px;
      margin: 0;
    }
  }

  .web-tools {
    padding: 40px 0;

    .gridbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .gridbox div {
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      @include shadow(0, 0, 3px, 2px, #eee);
    }

    .gridbox img {
      width: 50px;
      height: auto;
    }
  }

  .projects {
    
  }

  .social-media {
    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      font-size: 40px;
      margin: 0 10%;
    }

    li:nth-child(1) {
      color: #017cb7;
    }

    li:nth-child(2) {
      color: #00b1f4;
    }

    li:nth-child(3) {
      color: #000;
    }
  }
}
