@mixin shadow($horizontal, $vertical, $blur, $intesity, $color) {
  -moz-box-shadow: $horizontal $vertical $blur $intesity $color;
  -webkit-box-shadow: $horizontal $vertical $blur $intesity $color;
  box-shadow: $horizontal $vertical $blur $intesity $color;
}
@mixin background($url, $position, $color, $size) {
  width: 100%;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
  color: color($color);
}
@mixin media($width) {
  @media screen and (min-width:$width) {
    @content;
  }
}


@mixin progress-bar($color) {
  width: 100%;
  background-color: $color;
  height: 5px;
  border-radius: 100px;
}

@mixin progress($width, $color) {
  border-radius: 100px;
  width: $width;
  background-color: $color;
  height: 100%;
}
